
$primary: #29105E;
$secondary: #FFA266;

$black: #000;
$black-3: #333333;
$black-31: #313131;

$white: #fff;
$white-3: #FFF4E6;

$gray: #f1f1f1;
$gray-1: #A5A5A5;
$gray-2: #D3D3D3;
$bgcolor: #EFEFEF;


// fonts .... > 
$font_opensans: 'Open Sans', sans-serif;
$font_poppins: 'Poppins', sans-serif;
// < .... fonts 